neowyze-morticia-agent.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-27T03:21:09.970Z",
  "id": "KTa2yE0biG2FqnRU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[NEOWYZE] Morticia Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://faas-sfo3-7872a1dd.doserverless.co/api/v1/web/fn-fe75abe6-252d-47a3-92d8-df45dfcb2ef5/default/cf-argentina-holidays",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Require-Whisk-Auth",
              "value": "Jp33LksRpj7X0tB"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mes",
              "value": "={{ $json.mes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -368
      ],
      "id": "2a85d8b4-76e6-4b66-9ab2-eebabdc3bc20",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  \"enero\", \"febrero\", \"marzo\", \"abril\", \"mayo\", \"junio\",\n  \"julio\", \"agosto\", \"septiembre\", \"octubre\", \"noviembre\", \"diciembre\"\n];\n\nconst hoy = new Date();\nreturn [{ mes: meses[hoy.getMonth()] }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -368
      ],
      "id": "5d530a91-cb35-4707-940e-ab7de55a4886",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1178756472834883874",
          "mode": "list",
          "cachedResultName": "NEOWYZE",
          "cachedResultUrl": "https://discord.com/channels/1178756472834883874"
        },
        "channelId": {
          "__rl": true,
          "value": "1407218706735566980",
          "mode": "list",
          "cachedResultName": "『🌱』hr",
          "cachedResultUrl": "https://discord.com/channels/1178756472834883874/1407218706735566980"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.message }}",
              "color": "#E9C307"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        848,
        -368
      ],
      "id": "850ea9c0-1425-4984-8c79-592c27302c39",
      "name": "Send a message",
      "webhookId": "0c78315e-2595-4cec-9452-e566fb7943e3",
      "credentials": {
        "discordBotApi": {
          "id": "I0wiQJMTHf6KMZ4n",
          "name": "Morticia Agent"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow Notificacion Feriados en Argentina",
        "height": 288,
        "width": 1104
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -464
      ],
      "typeVersion": 1,
      "id": "6d9458a8-1a6b-493f-b9b9-ede72f92d9a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        -368
      ],
      "id": "37f22a4c-af55-48fc-9e37-b30fa8bbd98a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst diasArray = input.dias || [];\nconst mes = input.mes;\n\nif (!diasArray.length) {\n  return [{ message: `¡Hola <@315334366827905024>! Este mes de ${mes} no hay feriados 🎉` }];\n}\n\nif (diasArray.length === 1) {\n  return [{ message: `¡Hola <@315334366827905024>! El ${diasArray[0]} de ${mes} es feriado 📅` }];\n}\n\nreturn [{ message: `¡Hola <@315334366827905024>! Los días ${diasArray.join(\", \")} de ${mes} son feriados 🎊` }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -368
      ],
      "id": "707ab2bf-37da-4c04-b81e-469ffd3525db",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-10T04:02:53.000Z",
  "versionId": "9dc31a57-c181-4873-8205-5521993ac9a7"
}