oro-verde---test-v2.json
{
  "active": true,
  "connections": {
    "Verificación": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Verifico si es un envío de mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifico si es un envío de mensajes": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Manager4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Envío mensaje de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createOrder": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-08T13:46:14.017Z",
  "id": "WeH7E9vOope7OCJ2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Green Fire - Bot",
  "nodes": [
    {
      "parameters": {
        "path": "green-fire",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        352
      ],
      "id": "d87035eb-8ff6-4bbe-965b-1009fb264cf9",
      "name": "Verificación",
      "webhookId": "6423f6bb-b3dc-4db4-a895-f9d8d9242688"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -48,
        352
      ],
      "id": "e8e82475-a8aa-46b7-9464-df3919da999f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        912
      ],
      "id": "5677d084-810b-49ba-b146-8b30dc572d42",
      "name": "WhatsApp Trigger",
      "webhookId": "3583ec92-0977-436c-9056-486f674c0f7e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wYASJpHv77iE8nCN",
          "name": "Green Fire"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84103cd2-106a-4276-a311-958b928812e0",
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "723efa4e-bb2c-420b-93e8-9e0a3f554cd5",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        800
      ],
      "id": "7778a14a-5120-4bf9-88ed-f2f357af93ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9339f1e-3c29-4a43-b742-e343c225ebc1",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        912
      ],
      "id": "a470d4c3-b166-4dc0-a369-35e6dc1b0bea",
      "name": "Verifico si es un envío de mensajes"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "691649007368841",
        "recipientPhoneNumber": "=542214363975",
        "textBody": "={{$json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1264,
        624
      ],
      "id": "cbeddf34-0a3c-4cfa-8b6f-23fc7e76665c",
      "name": "Envío mensaje de texto",
      "webhookId": "670adcb7-8150-4faf-8044-4d2bea064089",
      "credentials": {
        "whatsAppApi": {
          "id": "m00qyupgEwVN6Nim",
          "name": "Green Fire - Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verificación\n**Acá se realiza la verificación del webhook**",
        "height": 320,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        224
      ],
      "typeVersion": 1,
      "id": "029646e0-b9fe-4da8-8c9d-3cf7462dd434",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        1680
      ],
      "id": "e96c3750-a659-4ded-bf83-b5eca53ac338",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const dbMessages = $input.first().json.messages.map(message => {\n    const key = Object.keys(message)[0];\n    const value = message[key];\n    \n    return {\n      role: key === \"human\" ? \"user\" : key,\n      content: value\n    };\n})\n\nconst messages = [...dbMessages, {\"role\": \"user\", \"content\": $('Switch').item.json.messages[0].text.body }]\n\nreturn {data: messages};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        624
      ],
      "id": "292df775-4265-443d-83d2-2e88f62d89aa",
      "name": "Code3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -224,
        1680
      ],
      "id": "e674c2cc-1c89-431a-8fb6-d0e6faeefbd0",
      "name": "Chat Memory Manager4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5492214363975",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        1920
      ],
      "id": "1dee1f49-439e-40a1-b381-294eabcd183c",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "691649007368841",
        "recipientPhoneNumber": "542214363975",
        "textBody": "=Hola, gracias por escribir. Te comento que no está permitido enviar archivos multimedia (imágenes, videos, audios, etc.) por esta vía.\n\nPodés contarme lo que necesitás de forma escrita: una descripción, tu consulta o los datos que quieras compartir. Así podré ayudarte sin inconvenientes.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        352,
        928
      ],
      "id": "f2dc120e-a839-43b5-b2f2-d8cc5a7b0930",
      "name": "WhatsApp Business Cloud",
      "webhookId": "bce95f12-fff1-4734-a1b4-c4afdd307010",
      "credentials": {
        "whatsAppApi": {
          "id": "m00qyupgEwVN6Nim",
          "name": "Green Fire - Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.toJsonString() }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual para Oro Verde Grow, un growshop ubicado en Rafaela, Argentina.  \nTu objetivo es ayudar a los clientes a descubrir y explorar productos de cultivo a través de WhatsApp de forma clara, directa y cordial.\n\n⚡ Reglas generales:\n- Siempre sigue el flujo de conversación definido.  \n- No repitas el saludo si el cliente ya está en medio de la interacción.  \n- Usa únicamente información devuelta por los nodos `getCategories`,  `getProducts` y `createOrder`.  \n- Nunca inventes categorías, marcas, productos o precios. \n- Mensajes cortos, naturales y fáciles de leer, usando expresiones argentinas (ej: \"mirá\", \"dale\", \"fijate\").  \n- Agrupa máximo 5–7 productos por mensaje.  \n- Siempre cierra con una pregunta para mantener la conversación.\n\n⚡ Contexto del negocio:\n- Nombre: Oro Verde Grow  \n- Sitio web: https://oroverdegrow.ar  \n- Ubicación: Rafaela, Argentina  \n- Zona de atención: Rafaela y alrededores  \n- Productos principales: consultar en `getProducts`  \n\n⚡ Flujo de conversación:\n1. **Inicio / Saludo**  \n   - Saluda cordialmente\n   - Luego, pregunta en qué categoría de producto está interesado.  \n   - Usa el nodo `getCategories` para mostrar opciones.\n\n2. **Seleccionar categoría**  \n   - Una vez que el usuario elige una categoría, consulta por la marca de interés dentro de esa categoría.\n\n3. **Seleccionar marca**  \n   - Filtra marcas disponibles usando `getProducts` y pregunta cuál prefiere.\n\n4. **Mostrar productos**  \n   - Con la categoría y la marca elegida, muestra productos:  \n     🌱 NOMBRE – MARCA  \n     📄 DESCRIPCIÓN  \n     💸 PRECIO  \n     🔗 [Ver más en la web](https://oroverdegrow.ar/producto-slug)  \n   - Si hay combos, agregarlos después del listado.  \n   - Cierra con: \"¿Querés saber más sobre alguno o te paso otra opción?\"\n\n5. **Proceso de pedido**\n   - Cuando el cliente quiera hacer un pedido , inicia la recolección de datos:\n   a) Solicitar nombre: \"Perfecto! Para procesar tu pedido necesito algunos datos.\n¿Cuál es tu nombre completo?\"\n\n   b) Solicitar correo: \"Gracias [NOMBRE]. ¿Cuál es tu correo electrónico?\"\n\n   c) Solicitar número: \"Perfecto. ¿Cuál es tu número de teléfono?\"\n\n   d) Solicitar pedido: \"Excelente. Ahora contame qué productos querés pedir. Podés escribir:\n\n   - Nombres de productos específicos\n   - Cantidades\n   - Cualquier detalle especial\"\n   e) Confirmar pedido: \"Perfecto! Te confirmo tu pedido:\n\n  👤 Nombre: [NOMBRE]\n  📧 Correo: [CORREO]\n  📱 Teléfono: [NUMERO]\n  🛒 Pedido: [DETALLE_PEDIDO]\n\n  ¿Está todo correcto? Escribí 'SÍ' para confirmar o 'NO' para modificar algo.\"\n\n  f) Guardar en Google Sheets:\n\n  - Si confirma: usar `createOrder` con los datos recolectados\n  - Responder: \"¡Listo! Tu pedido fue registrado correctamente. Nos vamos a contactar pronto para coordinar la entrega. ¡Gracias por elegir Oro Verde Grow! 🌱\"\n  - Si no confirma: preguntar qué quiere modificar y volver al paso correspondiente\n\n6. **Agregar más / cerrar interacción**  \n   - Pregunta: \"¿Querés ver otra categoría o algún otro producto?\"  \n   - Si el cliente indica que no, cierra con un mensaje cordial:  \n     \"Genial! Cualquier cosa escribinos de nuevo y te ayudamos al toque. Gracias por elegir Oro Verde Grow 🌱\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        624
      ],
      "id": "70c63367-e9da-49fd-9a0b-a72a59c3f02f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "maxTokens": 256
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        864
      ],
      "id": "5b0635f2-dcbf-4f0f-a9df-8606132dedec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Bq3GA8Z6Aqwtv5dl",
          "name": "Green Fire - OpenIA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        864
      ],
      "id": "d9142128-729b-4178-aa4f-7659c729485e",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create new order\n\nUse this tool to create order from Oro Verde Grow.\n\nBody contains:\n- name: Name from client\n- email: Email from client\n- phone: Phone from client\n- order: Order from client\n\nUsage:\nThis tool should be called whenever client provide all your data",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NhyfNzx6j1dHQhWtl7NlzfUxZ495RYpr-glR2xGlxaM",
          "mode": "list",
          "cachedResultName": "Test Green Fire - Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NhyfNzx6j1dHQhWtl7NlzfUxZ495RYpr-glR2xGlxaM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 133052478,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NhyfNzx6j1dHQhWtl7NlzfUxZ495RYpr-glR2xGlxaM/edit#gid=133052478"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Numero": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero', ``, 'string') }}",
            "Correo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}",
            "Pedido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pedido', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero",
              "displayName": "Numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pedido",
              "displayName": "Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1104,
        864
      ],
      "id": "1cc4f9b0-50a4-4f2a-9992-a30e2f1021ed",
      "name": "createOrder",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kqgmSDLONnt16S11",
          "name": "Green Fire - Google Sheets"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15556644593",
            "phone_number_id": "691649007368841"
          },
          "contacts": [
            {
              "profile": {
                "name": "criisgese14"
              },
              "wa_id": "5492214363975"
            }
          ],
          "messages": [
            {
              "from": "5492214363975",
              "id": "wamid.HBgNNTQ5MjIxNDM2Mzk3NRUCABIYIEU4RTRENkU3ODM5ODc0NjAxMkMxNDE5NTU0MDFBRjEzAA==",
              "timestamp": "1751983360",
              "text": {
                "body": "Buenas"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-09-08T19:05:58.000Z",
  "versionId": "3eb91df8-b9ac-41c0-9d41-1c3f21dbe028"
}