univision-dtv---bot.json
{
  "active": true,
  "connections": {
    "Verificación": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Verifico si es un envío de mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifico si es un envío de mensajes": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "getCategories": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getProducts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Envío mensaje de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getMayoristas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "getCategories1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getProducts1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getMayoristas1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-18T16:33:28.926Z",
  "id": "gEhXbQhZfSQlMVPW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Oro Verde - Test V2",
  "nodes": [
    {
      "parameters": {
        "path": "oro-verde-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        128
      ],
      "id": "b7b24ba2-40b9-4256-9f0f-ca18a0d336fb",
      "name": "Verificación",
      "webhookId": "0adac00e-0fe3-4026-b505-e7d5961d5e2a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        128
      ],
      "id": "5932d138-c49c-4f0c-a688-bb49b19fafce",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        688
      ],
      "id": "2f58264d-2702-4d97-8df1-c08845ae87b1",
      "name": "WhatsApp Trigger",
      "webhookId": "58732c84-646c-4299-b074-f8249300ab74",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "WHB2BLy1pAihGsGD",
          "name": "Oro Verde"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "84103cd2-106a-4276-a311-958b928812e0",
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "723efa4e-bb2c-420b-93e8-9e0a3f554cd5",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        592
      ],
      "id": "b9085cc5-b7df-4c99-9694-6bb06da28733",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9339f1e-3c29-4a43-b742-e343c225ebc1",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        688
      ],
      "id": "ce18464d-dc9f-42ed-8de2-2c34ba8f8678",
      "name": "Verifico si es un envío de mensajes"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "750298964831693",
        "recipientPhoneNumber": "=542214363975",
        "textBody": "={{$json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1472,
        368
      ],
      "id": "2dc4f3a0-6ee6-457f-8d64-3277b587908b",
      "name": "Envío mensaje de texto",
      "webhookId": "06d8b200-95d8-4f1f-8385-b8f7d44cf2c9",
      "credentials": {
        "whatsAppApi": {
          "id": "IhiBXA6GvGnqtxFk",
          "name": "Oro Verde - Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verificación\n**Acá se realiza la verificación del webhook**",
        "height": 320,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2018a20a-0545-484a-b7bb-2e657c55e229",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const dbMessages = $input.first().json.messages.map(message => {\n    const key = Object.keys(message)[0];\n    const value = message[key];\n    \n    return {\n      role: key === \"human\" ? \"user\" : key,\n      content: value\n    };\n})\n\nconst messages = [...dbMessages, {\"role\": \"user\", \"content\": $('Switch').item.json.messages[0].text.body }]\n\nreturn {data: messages};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        368
      ],
      "id": "7f6262e9-0e91-4b86-8a0e-a4b27afc4e1b",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "691649007368841",
        "recipientPhoneNumber": "542214363975",
        "textBody": "=Hola, gracias por escribir. Te comento que no está permitido enviar archivos multimedia (imágenes, videos, audios, etc.) por esta vía.\n\nPodés contarme lo que necesitás de forma escrita: una descripción, tu consulta o los datos que quieras compartir. Así podré ayudarte sin inconvenientes.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        640,
        768
      ],
      "id": "594c3787-4d83-4343-9df6-01086d364e0c",
      "name": "WhatsApp Business Cloud",
      "webhookId": "603f7af7-d776-4948-a8b0-b18e75734f28",
      "credentials": {
        "whatsAppApi": {
          "id": "IhiBXA6GvGnqtxFk",
          "name": "Oro Verde - Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.toJsonString() }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual para Oro Verde Grow, un growshop ubicado en Rafaela, Argentina.  \nTu objetivo es ayudar a los clientes a descubrir y explorar productos de cultivo a través de WhatsApp de forma clara, directa y cordial.\n\n⚡ Reglas generales:\n- Siempre sigue el flujo de conversación definido.  \n- No repitas el saludo si el cliente ya está en medio de la interacción.  \n- Usa únicamente información devuelta por los nodos `getMayoristas`, `getCategories` y `getProducts`.  \n- Nunca inventes categorías, marcas, productos o precios. \n- Mensajes cortos, naturales y fáciles de leer, usando expresiones argentinas (ej: \"mirá\", \"dale\", \"fijate\").  \n- Agrupa máximo 5–7 productos por mensaje.  \n- Siempre cierra con una pregunta para mantener la conversación.\n\n⚡ Contexto del negocio:\n- Nombre: Oro Verde Grow  \n- Sitio web: https://oroverdegrow.ar  \n- Ubicación: Rafaela, Argentina  \n- Zona de atención: Rafaela y alrededores  \n- Productos principales: consultar en `getProducts`  \n\n⚡ Flujo de conversación:\n1. **Inicio / Saludo**  \n   - Saluda cordialmente\n   - Luego, pregunta en qué categoría de producto está interesado.  \n   - Usa el nodo `getCategories` para mostrar opciones.\n\n2. **Mayorista**\n- Si el cliente solicita la lista de mayoristas, utiliza `getMayoristas` para verificar si el número del cliente pertenece a un mayorista, si pertenece responder:\n  \"Te comparto el link para mayorista: https://catalogo.duxsoftware.com.ar/mayorista-oroverde\"\nSi el numero no pertenece, responder: \"Lo siento, solo podemos compartírsela a mayoristas\"\n\n3. **Seleccionar categoría**  \n   - Una vez que el usuario elige una categoría, consulta por la marca de interés dentro de esa categoría.\n\n4. **Seleccionar marca**  \n   - Filtra marcas disponibles usando `getProducts` y pregunta cuál prefiere.\n\n5. **Mostrar productos**  \n   - Con la categoría y la marca elegida, muestra productos:  \n     🌱 NOMBRE – MARCA  \n     📄 DESCRIPCIÓN  \n     💸 PRECIO  \n     🔗 [Ver más en la web](https://oroverdegrow.ar/producto-slug)  \n   - Si hay combos, agregarlos después del listado.  \n   - Cierra con: \"¿Querés saber más sobre alguno o te paso otra opción?\"\n\n6. **Agregar más / cerrar interacción**  \n   - Pregunta: \"¿Querés ver otra categoría o algún otro producto?\"  \n   - Si el cliente indica que no, cierra con un mensaje cordial:  \n     \"Genial! Cualquier cosa escribinos de nuevo y te ayudamos al toque. Gracias por elegir Oro Verde Grow 🌱\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        368
      ],
      "id": "d30c6cbf-ccc4-47bd-bbee-2f3bf47f0dda",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "maxTokens": 256
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        608
      ],
      "id": "1ac964ab-2ec9-4a61-9307-d275ee538d81",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EWsMqU8CMSqu4Q3V",
          "name": "Oro Verde - Open AI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        608
      ],
      "id": "2bd600fe-1295-4577-9643-ceab36c0d784",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve Categories Information\n\nUse this tool to get the list of product categories available in Oro Verde Grow.\n\nResponse contains:\n- id: Unique category ID\n- name: Category name\n- slug: URL-friendly slug\n- description: Category description\n- parent: Parent category ID (0 if top-level)\n- count: Number of products in this category\n- image: URL to category image\n- link: URL to category page\n- total_categories: Total number of categories\n\nUsage:\nThis tool should be called whenever you need to present the available categories to the user.",
        "url": "https://oroverdegrow.ar/wp-json/oroverde/v1/categorias",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1360,
        624
      ],
      "id": "27c2ce2e-7df7-4298-b167-0ad539c9bd84",
      "name": "getCategories"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve Products Information\n\nUse this tool to get details about products in Oro Verde Grow.\n\nResponse contains:\n- id: Product ID\n- name: Product name\n- slug: URL-friendly slug\n- price: Product price\n- description: Product description\n- categories: List of categories the product belongs to\n- image: URL to product image\n- stock_status: Stock availability (e.g., \"instock\")\n- pagination:\n  - total_products: Total number of products matching the query\n  - total_pages: Number of pages\n  - current_page: Current page number\n  - products_per_page: Number of products per page\n\nUsage:\nThis tool should be called whenever you need to show products filtered by category and/or search term to the user.",
        "url": "https://oroverdegrow.ar/wp-json/oroverde/v1/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "busqueda",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1520,
        624
      ],
      "id": "80361145-4ee9-4584-965c-34f591664eee",
      "name": "getProducts"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve Wholesalers Information\n\nUse this tool to find wholesalers from Oro Verde Grow.\n\nResponse contains:\n- phone: Phone number from wholesaler\n\nUsage:\nThis tool should be called whenever you need verify if client is a wholesaler",
        "documentId": {
          "__rl": true,
          "value": "1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ",
          "mode": "list",
          "cachedResultName": "Test Mayorista - Oro Verde",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 133052478,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ/edit#gid=133052478"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1216,
        624
      ],
      "id": "8aaa8c0d-7059-484c-a46a-7a740d990f55",
      "name": "getMayoristas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tcYjJbLS3otsYnxI",
          "name": "Oro Verde - Green Fire"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oro-verde-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        1104
      ],
      "id": "674ed636-7465-4f0f-a9b3-39e1fdf39267",
      "name": "Webhook",
      "webhookId": "41be1646-59ad-4833-8509-bd18753007ee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual para Oro Verde Grow, un growshop ubicado en Rafaela, Argentina.  \nTu objetivo es ayudar a los clientes a descubrir y explorar productos de cultivo a través de WhatsApp de forma clara, directa y cordial.\n\n⚡ Reglas generales:\n- Siempre sigue el flujo de conversación definido.  \n- No repitas el saludo si el cliente ya está en medio de la interacción.  \n- Usa únicamente información devuelta por los nodos `getMayoristas`, `getCategories` y `getProducts`.  \n- Nunca inventes categorías, marcas, productos o precios. \n- Mensajes cortos, naturales y fáciles de leer, usando expresiones argentinas (ej: \"mirá\", \"dale\", \"fijate\").  \n- Agrupa máximo 5–7 productos por mensaje.  \n- Siempre cierra con una pregunta para mantener la conversación.\n\n⚡ Contexto del negocio:\n- Nombre: Oro Verde Grow  \n- Sitio web: https://oroverdegrow.ar  \n- Ubicación: Rafaela, Argentina  \n- Zona de atención: Rafaela y alrededores  \n- Productos principales: consultar en `getProducts`  \n\n⚡ Flujo de conversación:\n1. **Inicio / Saludo**  \n   - Saluda cordialmente\n   - Luego, pregunta en qué categoría de producto está interesado.  \n   - Usa el nodo `getCategories` para mostrar opciones.\n\n2. **Mayorista**\n- Si el cliente solicita la lista de mayoristas, utiliza `getMayoristas` para verificar si el número del cliente pertenece a un mayorista, si pertenece responder:\n  \"Te comparto el link para mayorista: https://catalogo.duxsoftware.com.ar/mayorista-oroverde\"\nSi el numero no pertenece, responder: \"Lo siento, solo podemos compartírsela a mayoristas\"\n\n3. **Seleccionar categoría**  \n   - Una vez que el usuario elige una categoría, consulta por la marca de interés dentro de esa categoría.\n\n4. **Seleccionar marca**  \n   - Filtra marcas disponibles usando `getProducts` y pregunta cuál prefiere.\n\n5. **Mostrar productos**  \n   - Con la categoría y la marca elegida, muestra productos:  \n     🌱 NOMBRE – MARCA  \n     📄 DESCRIPCIÓN  \n     💸 PRECIO  \n     🔗 [Ver más en la web](https://oroverdegrow.ar/producto-slug)  \n   - Si hay combos, agregarlos después del listado.  \n   - Cierra con: \"¿Querés saber más sobre alguno o te paso otra opción?\"\n\n6. **Agregar más / cerrar interacción**  \n   - Pregunta: \"¿Querés ver otra categoría o algún otro producto?\"  \n   - Si el cliente indica que no, cierra con un mensaje cordial:  \n     \"Genial! Cualquier cosa escribinos de nuevo y te ayudamos al toque. Gracias por elegir Oro Verde Grow 🌱\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        1104
      ],
      "id": "4fdd8520-cf87-4587-a3c8-714fdee2be90",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "maxTokens": 256
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        1360
      ],
      "id": "5db17206-c035-4a4c-acfd-753fb0554304",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "EWsMqU8CMSqu4Q3V",
          "name": "Oro Verde - Open AI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        1360
      ],
      "id": "7836ddc2-c150-4114-997d-42cfd6897633",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve Categories Information\n\nUse this tool to get the list of product categories available in Oro Verde Grow.\n\nResponse contains:\n- id: Unique category ID\n- name: Category name\n- slug: URL-friendly slug\n- description: Category description\n- parent: Parent category ID (0 if top-level)\n- count: Number of products in this category\n- image: URL to category image\n- link: URL to category page\n- total_categories: Total number of categories\n\nUsage:\nThis tool should be called whenever you need to present the available categories to the user.",
        "url": "https://oroverdegrow.ar/wp-json/oroverde/v1/categorias",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        656,
        1360
      ],
      "id": "ec8882d2-2453-4a44-8482-47806c4d19d2",
      "name": "getCategories1"
    },
    {
      "parameters": {
        "toolDescription": "=Retrieve Products Information\n\nUse this tool to get details about products in Oro Verde Grow.\n\nResponse contains:\n- id: Product ID\n- name: Product name\n- slug: URL-friendly slug\n- price: Product price\n- description: Product description\n- categories: List of categories the product belongs to\n- image: URL to product image\n- stock_status: Stock availability (e.g., \"instock\")\n- pagination:\n  - total_products: Total number of products matching the query\n  - total_pages: Number of pages\n  - current_page: Current page number\n  - products_per_page: Number of products per page\n\nUsage:\nThis tool should be called whenever you need to show products filtered by category and/or search term to the user.",
        "url": "https://oroverdegrow.ar/wp-json/oroverde/v1/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "busqueda",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        832,
        1360
      ],
      "id": "23645e9b-c741-48f1-ac36-c0bdb962245f",
      "name": "getProducts1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve Wholesalers Information\n\nUse this tool to find wholesalers from Oro Verde Grow.\n\nResponse contains:\n- phone: Phone number from wholesaler\n\nUsage:\nThis tool should be called whenever you need verify if client is a wholesaler",
        "documentId": {
          "__rl": true,
          "value": "1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ",
          "mode": "list",
          "cachedResultName": "Test Mayorista - Oro Verde",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 133052478,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QD-CBqfkORSmK0U_DtcpTzfAXeEkcicr63Ni3naO0JQ/edit#gid=133052478"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        512,
        1360
      ],
      "id": "9339c5cf-36ca-436e-a379-c1b133ab732a",
      "name": "getMayoristas1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tcYjJbLS3otsYnxI",
          "name": "Oro Verde - Green Fire"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        1104
      ],
      "id": "8f0d0d3d-a1d8-4f61-9fb6-a3d256c1b209",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-09-03T18:51:38.000Z",
  "versionId": "e6648b12-5c16-4200-8217-39710eeaf6a2"
}